@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

h1,h2{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #000;
    margin: 0;
    padding: 0;
}

p,li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #000;
    margin: 0;
    padding: 0;
}

.excerpt{
    text-align: center;
}