$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #219EBC;
$background-alternative-color: #8ECAE6;
$pop-color1: #FFB703;
$pop-color1: #FB8500;
$dark-color: #023047