{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main-wrap">
    <div class="main text-center" role="main">
        <div class="landingpage">
            {{ content }}
        </div>
    </div>
        
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
