$font-color: #F2F2F2;
$font-alternative-color: #BFBFBF;
$background-color: #262626;
$background-alternative-color: #595959;
$code-background-color: #0D0D0D;
$pop-color1: #FFB703;
$pop-color1: #FB8500;
$dark-color: #023047;


/* Color Theme Swatches in Hex */
/* $Electronica-2022-1-hex: #BFBFBF;
$Electronica-2022-2-hex: #8C8C8C;
$Electronica-2022-3-hex: #595959;
$Electronica-2022-4-hex: #262626;
$Electronica-2022-5-hex: #0D0D0D;
 */


